#map {
    height: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#routemakeinput {
    position: absolute;
    top: 21%;
    left: 1%;
    z-index: 5;
    text-align: left;
    font-family: system-ui, -apple-system, 
        BlinkMacSystemFont, 'Segoe UI', 
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
        sans-serif;
    line-height: 150%;    
}

#extrastops {
    position: absolute;
    top: 37%;
    left: 1%;
    z-index: 5;
    text-align: start;
    font-family: system-ui, -apple-system, 
        BlinkMacSystemFont, 'Segoe UI', 
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
        sans-serif;
    line-height: 150%;
    padding-left: 0px;    
}

#avgpassengers {
    position: absolute;
    top: 7%;
    left: 85.2%;
    z-index: 5;
    text-align: start;
    font-family: system-ui, -apple-system, 
        BlinkMacSystemFont, 'Segoe UI', 
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
        sans-serif;
    line-height: 150%;
    padding-left: 0%;    
}

#outputs {
  position: absolute;
  top: 24%;
  left: 85.2%;
  z-index: 5;
  text-align: start;
  font-family: system-ui, -apple-system, 
      BlinkMacSystemFont, 'Segoe UI', 
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
      sans-serif;
  line-height: 100%;
  padding-left: 0%;    
}

#options {
    position: absolute;
    top: 7%;
    left: 1%;
    z-index: 5;
    text-align: center;
    font-family: system-ui, -apple-system, 
        BlinkMacSystemFont, 'Segoe UI', 
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
        sans-serif;
    line-height: 100%;
    padding-left: 0%;    
}

fieldset {
    margin: 10px;
    padding: 0 10px 10px;
    border: 1px solid #00ffff00;
    border-radius: 10px;
    box-shadow: 0 0 10px #666;
    padding-top: 10px;
    backdrop-filter: blur(5px);
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 27.5%;
    height: 20%;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 70%;
    width: 27%;
    left: 7%;
    bottom: 16%  ;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }  

input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}